body {
  font-family: sans-serif;
}
.wrapper {
  width: 100vw;
  max-width: 1750px;
  margin: 0 auto;
}

.topBar {
  position: fixed;
  width: 98vw;
  align-items: center;
  top: 0;
  background-color:white;
  padding-bottom: 20px;
  z-index: 12;
}
.topWidth {
  display: flex;
  margin: 0 auto;
  position: relative;
  justify-content: center;
  width: 75%;
}
.logo {
  width: 60%;
  margin-left: 5%;
}
.logo > img  {
  margin-top: 20px;
  margin-bottom: 20px;
}
.loginSearch {
  width: 40%;
  margin-left: auto;
  margin-right: 5%;
  }
.searchBar {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 15px;
}
.blueGradient {
  font-weight: bold;
	color: #408ea3;
	background: -webkit-linear-gradient(left, #6046FE, #1DA0C3);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 600;
}
.loginSearch ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.loginSearch a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.logInLink {
  margin-left: 25px;
}
.articles {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
  filter: brightness(90%);
}
.bigArticle {
  position: relative;
  width: 75%;
  height: 100%;
  filter: brightness(90%);
}
.bigArticle img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.bigArticle:hover {
  filter: brightness(100%);
}
.divLink a span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}
.bigArticleText {
  color:white;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.40);
  margin: 40px 40px;
  display: block;
  position: absolute;
  bottom: 4px;
  width: 80%;
  filter: brightness(110%);
}
a.readMoreBtn  {
  font-weight: bold;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 4px;
  padding: 5px;
	transition: padding 0.1s;
  z-index: 12;
}
a.readMoreBtn:hover {
  padding-right: 30px;
}
.smallArticles {
  position: relative;
  width: 25%;
  margin-right: 40px;
}
.smallArticle {
  position: relative;
  height: 33.3%;
  filter: brightness(90%);
}

.smallArticle img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.smallArticle:hover {
  filter: brightness(100%);
}
.smallArticleText {
  color:white;
  font-weight: bold;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.40);
  position: relative;
  bottom: 80px;
  margin-left: 20px;
  margin-right: 20px;
  filter: brightness(140%);
}
.factoid {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 40px;
}
.smallHeader {
color: #408ea3;
}
.sellingNow {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.albumsSellingNow {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.album {
  display: block;
  margin: 3px 3px 3px 3px;
 max-width: 126px;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}
.album:hover {
  background-color: lightgray;
}
.grayBg {
  width: 98vw;
  background-color: lightgray;
}
.smallHeaderWidth {
  width: 75%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
}
.bandcampDaily {
  display: grid;
  row-gap: 25px;
  column-gap: 25px;
  width: 75%;
  justify-content: space-between;
  justify-items: space-between;
  grid:   300px 300px/206px 250px 250px 250px 250px ;      
  margin: 0 auto;
}
#largeArticle {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 4;
}
#largeArticle p {
  margin-left: 0;
}
.largeArticleImage {
  height: 100%;
}
#largeArticle img {
  position: relative;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  margin: 0;
}
.articleImage {
  width: 250px;
  height: 150px;
}
.article img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article {
  background-color: white;
  position: relative;
}
.largeArticleText {
  width: 75%;
  position:relative;
  padding: 30px;
}
.largeArticleText span {
  margin: 0;
}
#largeArticleBottom {
  margin-left: 0;
  padding-left: 0;
}
.articleBottom {
  position: absolute;
  bottom: 10px;
  color: #777;
  padding: 10px;
}
.article p, span{
  margin: 10px;
}
.moreBtn {
  margin: 0 auto;
  width: 75%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: right;
}
.moreBtn a {
  text-decoration: none;
  color: #408ea3;
  border: 1px solid #408ea3;
  border-radius: 4px;
  padding: 4px;
}
.emailSignUp {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}
.emailBtn {
  font-weight: bold;
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 8px;
  padding-left: 40px;
  padding-right: 40px;
}
